@import "style.css";

ul > li{margin-right:25px;font-weight:lighter}
li.active{border-bottom:3px solid silver;}

.item-photo{display:flex;justify-content:center;align-items:center;}
.item-photo img{
    width: 229px;
    height: 248px;
    object-fit: scale-down;
}
.menu-items{list-style-type:none;display:inline-flex;margin-bottom:0;margin-top:20px;padding: 0;}
.btn-success{width:100%;border-radius:0;background-color: #393e46!important;border-color:#393e46!important;color:white;}
.section{width:100%;margin-left:3px;padding:2px;padding-left:15px;padding-right:15px;background:#f8f9f9}
.section a{color: black;position: relative;}
.title-price{margin-top:30px;margin-bottom:0;color:black}
.title-attr{margin-top:0;margin-bottom:0;color:black;}
.btn-minus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-right:0;}
.btn-plus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-left:0;}
div.section > div {width:100%;display:inline-flex;}
div.section > div > input {margin:0;padding-left:5px;font-size:10px;padding-right:5px;max-width:18%;text-align:center;}
.attr,.attr2{cursor:pointer;margin-right:5px;height:20px;font-size:10px;padding:2px;border:1px solid gray;border-radius:2px;}
.attr.active,.attr2.active{ border:1px solid orange;}

.menu-items li{
    font-size: 29px;
}
.menu-items li ul{
    font-size: 29px;
}
.item-col{
    margin-top: 50px;
}
.detail{
    margin: 20px 0px;
    padding-bottom: 20px;
    border-bottom: 0.9px solid rgb(0, 0, 0, 0.3);
}
.description{
    margin: 10px auto 30px auto;
}
.divClass{
    margin-bottom: 30px;
    border-bottom: 1.3px solid rgb(0, 0, 0, 0.3);
}
@media (max-width: 426px) {
    .container {margin-top:0px !important;}
    .container > .row{padding:15px;}
    .container > .row > .col-xs-12.col-sm-5{
        padding-right:0 ;    
    }
    
    .container > .row > .col-xs-12.col-sm-9 > div > p{
        padding-left:0 !important;
        padding-right:0 !important;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > ul{
        padding-left:10px !important;
        
    }            
    .section{width:104%;}
    .menu-items{padding-left:0;}
}

@media(min-width: 768px){
    .section a{
        color: black;
        position: relative;
        left: 3px;
    }
}
@media(min-width: 1024px){
    .section a{
        color: black;
        position: relative;
        left: -3px;
    }
}