/*GENERALES*/
*{
    box-sizing: border-box;
    margin:0;
  }
  body{
    font-weight: 400;
    background-color: #eeeeee;
  }
  a{
    text-decoration: none;
    color: white;
  }
  a:hover{
    color: #e8ded2;
    text-decoration: none;
  }
  li{
    list-style: none;
  }
  p{
    color: #393e46;
  }
