/*HEADER*/

header{
  background-color: #222831;
  padding: 10px 5px 0px 5px;
}

header .logo{
  padding: 0;
}
header .logo img{
  position: relative;
  left: 50px;
  padding-top: 5px;
}
header form{
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.8rem;

}
header form input{
display: block;
width: 100%;
padding: 7px 35px 7px 7px;
border-radius: 8px;
height: 40px;
}

header form button{
  position: absolute;
  right: 2px;
  height: 60%;
  background-color: white;
  border: none;
  color: #393e46;
  cursor: pointer;
}
header nav{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header nav button.desplegable{
  color: #00adb5;
  border: none;
  border-radius: 4px;
  padding: 10px 1px 4px 1px;
}
header nav .menu{
  color: white;
}
.menu li img{
  width: 30px;
  height: 32px;
  position: relative;
  bottom: 3px;
  right: 2px;
  border-radius: 5px;
}

/*HEADER TABLET*/

@media(min-width: 768px){
  .navbar-expand-md .navbar-nav .nav-link{
    position: relative;
    bottom: 7px;
    left: 7px;
    padding-right: 0;
    padding-left: 0; 
  }
  header .logo img{
      left: auto;
  }
  
  header form input{
    position: absolute;
    top: 10px;
    left: 235px;
    height: 30px;
  }
  header form button{
    left: 520px;
    top: 12px;
  }
  .menu li{
    margin-right: 15px;
    position: relative;
    bottom: 25px;
    left: 101px;
  }
  .menu li img{
    border-radius: 10px;
  }
  .menu li:last-child{
    margin-right: 0px;
  } 
  a{
    font-size: 14px;
  }
}

/*HEADER ESCRITORIO*/

@media(min-width: 1024px){
  header .logo img{
    left: 60px;
    width: 50px;

}
  header form input{
    position: absolute;
    bottom: 3px;
    left: 318px;
  }
  header form button{
    display: none;
  }
  .menu li{
    margin-right: 27px;
    left: 191px;
    bottom: 35px;
    position: relative;
  }
}
