@import "style.css";

/*Banner y principales*/

.banner img{
    width: 100%;
  }
  .banner ol li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
  
  .ultimo{
    display: flex;
    flex-wrap: wrap;
    background-color: #393e46;
  }
  .datos{
    justify-content: flex-end;
  }
  
  
  .MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;border: 1px solid #e0ece4;;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }

  .MultiCarousel img{
    width: 70px;
    height: 70px;
  }
  .btn-primary {
    color: #fff;
    background-color: #00adb5;
    border-color: #00adb5;
}


  .row{
    margin: 0;
  }
  .productos{
    display: flex;
    flex-wrap: wrap;
  }
  
  .productos .titulo h2{
    text-align: left;
    font-size: 24px;
    color: #393e46;
    padding: 30px;
    font-family: sans-serif;
  } 
  .productos .titulo span a{
    color: #00adb5;
    display: flex;
  }
  .productos .seccion{
    background-color: white;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    height: 281px;
  }
  .productos .seccion p{
    font-size: 25px;
    border-bottom: 1px solid #f6f5f5;
  }
  .productos .seccion .eco img{
    height: 126px;
      width: 94px;;
      position: relative;
      left: 17px;
  }
  .productos .seccion figure img{
    width: 90%;
    height: 127px;
  }
  
  .productos .seccion article{
    display: flex;
    flex-wrap: wrap;
    border-top: #393e46;
    padding: 20px;
    position: relative;
    height: 150px;
  }
  .productos article a{
    display: flex;
    align-items: flex-end;
    color: #00adb5;
    top: 24px;
  }
  .productos .contenido{
    background-color: white;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
  }
  
  .productos .contenido figure img{
    height: 153px;
    position: relative;
    top: 50px;
    border-bottom: 1px solid #f6f5f5;
  }
  .productos .contenido p{
    font-size: 25px;
    border-bottom: 1px solid #f6f5f5;
  }
  
  .productos article{
    display: flex;
    flex-wrap: wrap;
    border-top: #393e46;
    padding: 20px;
    position: relative;
    height: 150px;
  }
  
  .productos article h2{
    display: flex;
    align-items: flex-end;
    position: relative;
    top: 10px;
  }
  
  .productos article span{
    margin-left: 10px;
    display: flex;
    align-items: flex-end;
  }
  .productos article a{
    display: flex;
    align-items: flex-end;
    color: #00adb5;
  }
  .productos .contenido2{
    display: none;
  }
  .productos .oculto{
    display: none;
  }
  .boton a{
    position: relative;
    bottom: 59px;
    left: 148px;
    width: 68px;
  }
  
  /*HEADER TABLET*/
    
    /*PRINCIPALES*/
  
  @media(min-width: 768px){
    .productos .seccion{
      height: 432px;
      position: relative;
    }
    .productos .seccion figure img{
      height: 308px;
      position: relative;
      left: 32px;
    }
    .productos .seccion .eco img {
      height: 312px;
      width: 207px;
      left: 26px;
  }
  
  }
  
/*PRINCIPALES*/

  @media(min-width: 1024px){
    .productos .oculto{
      display: block;
    }
    .productos .seccion figure img{
      width: 198px;
      position: absolute;
      top: 27px;
      left: 62px;
    }
    .productos .seccion span a{
      position: relative;
      top: 243px;
    }
    .productos .seccion .eco img{
      width: 163px;
      height: 306px;
      position: absolute;
      left: 54px;
      top: 27px;
    }
    .productos .seccion .eco span a{
      position: relative;
      top: 243px;
    }
    .productos .seccion .buscado img{
      height: 314px;
      width: 90%;
      position: absolute;
      top: 24px;
      left: 15px;
    }
    .productos .seccion .buscado span a{
      position: relative;
      top: 243px;
    }
    /*FOOTER ESCRITORIO*/
  
    footer .redes ul li{
      margin-right: 60px;
    }
    footer .redes ul li:last-child{
      margin-right: 20px;
    }
  }
