@import "style.css";
/*Formulario*/

body {
    color: #fff;
    background: #f2f3f7;
}
.form-control {
	height: 40px;
    color: #656768;
	box-shadow: 0px 0px 0.5px 1px #656768 !important;
}
.form-control:focus {
    border-color: #636464;
}
.form-control, .btn {        
	border-radius: 3px;
}
.signup-form {
	margin: 0 auto;
	padding: 30px 0;
  	font-size: 15px;
}
.signup-form h2 {
	color: #636363;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
}
.signup-form h2:before {
	left: 0;
}
.signup-form h2:after {
	right: 0;
}
.signup-form .hint-text {
	color: #999;
	margin-bottom: 30px;
	text-align: center;
}
.signup-form form {
	color: #999;
	border-radius: 3px;
    background: #f2f3f7;
    box-shadow: 0px 0px 5.5px 1.5px rgba(0, 0, 0, 0.1);
    padding: 28px;
}
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
	margin-top: 3px;
}
.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;		
	min-width: 140px;
	outline: none !important;
}
.signup-form .row div:first-child {
	padding-right: 10px;
}
.signup-form .row div:last-child {
	padding-left: 10px;
}    	
.signup-form a {
	color: #fff;
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #444950;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}  
.btn-success {
    color: #fff;
    background-color: #5e5c68 !important;
    border-color: #5e5c68 !important ;
}
.hj{
    color:white !important;
    text-decoration: none !important;
	display: block;
	font-display: block;
}
.fotop{
	width: 40%;
    padding: 19px;
    position: relative;
    left: 109px;
    border-radius: 85px;
}
@media(min-width: 720px){
	.signup-form {
		width: 450px;
	}
}