@import "style.css";

.barra{
    padding-left:11%;;
}

.barra{
    background-color: #222831;
    margin-top: 10px;
}
.barra li{
    color: black;
    display: inline-block;
    padding: 20px;
    padding-top: 10px;
    margin-top: 10px;
    height: 40px;
    margin-left: 65px;
    padding-right: 70px;
    text-transform: uppercase;
}
.principal .contenido{
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
} 
.contenido img{
    width: 80%;
}

p{
    color: black;
    font-size: 20px;
}
h4, h3{
    color: black;
}
@media(min-width:768px){
    .barra li{
        margin-left:30px;
    }
    
}
@media(min-width:1024px){
    .barra li{
        margin-left:150px;
    }
    .barra li:last-child{
        border-right: none;
        margin-left: 20px;
    }
}