/*GENERALES*/
*{
  box-sizing: border-box;
  margin:0
}
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  background-color: #eeeeee;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: #e8ded2;
  text-decoration: none;
}
li{
  list-style: none;
}

/*HEADER*/

header{
  background-color: #222831;
  padding: 10px 5px 0px 5px;
}

header .logo{
  padding: 0;
}
header .logo img{
  position: relative;
  left: 50px;
  padding-top: 5px;
}
header form{
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.8rem;

}
header form input{
  border: solid 1px var(--color-grisClaro);
display: block;
width: 100%;
padding: 7px 35px 7px 7px;
border-radius: 8px;
height: 40px;
}

header form button{
  position: absolute;
  right: 2px;
  height: 60%;
  background-color: white;
  border: none;
  border-left: solid 1px var(--color-grisClaro);
  color: var(--color-grisOscuro);
  cursor: pointer;
}
header nav{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header nav button.desplegable{
  background-color: var(--color-azul);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 1px 4px 1px;
}
header nav .menu{
  color: white;
}

/*Banner y principales*/

.banner img{
  width: 100%;
}

.ultimo{
  display: flex;
  flex-wrap: wrap;
  background-color: #393e46;
}
.datos{
  justify-content: flex-end;
}
.copyright{
  width: 100%;
  background-color: #222831;
  color: white;
}


/*FOOTER*/

footer {
  background-color: #393e46;
}

footer .info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
footer .info li{
  margin: 10px 0;
  position: relative;
  right: 20px;
}

footer .redes ul{
  display: flex;
  justify-content: space-between;
  position: relative;
  right: 17px;
}

.copyright{
  width: 100%;
  text-align: center;
}


@media(min-width: 768px){
  /*HEADER TABLET*/
  header .logo img{
      left: auto;
  }
  
  header form input{
    position: absolute;
    top: 10px;
    left: 235px;
    height: 30px;
  }
  header form button{
    left: 535px;
    top: 12px;
  }
  .menu li{
    margin-right: 15px;
    position: relative;
    bottom: 25px;
    left: 40px;
  }
  .menu li:last-child{
    margin-right: 0px;
  }
  /*FOOTER TABLET*/
  footer .info ul{
    position: fixed;
    display: flex;
  }
  footer .info ul li{
    position: relative;
    margin-right: 20px;
    padding-right: 11px;
    border-right: 2px solid black;
  }
  footer .info ul li:last-child{
    border-right: none;
  }

  footer .redes ul{
    justify-content: flex-end;
    margin-right: 0;
  }
  footer .redes ul li{
    position: relative;
    top: 8px;
    margin-right: 40px;
  }
  footer .redes ul li:last-child{
    margin-right: 0px;
  }

}

@media(min-width: 1040px){
  /*HEADER ESCRITORIO*/
  header .logo img{
    left: 60px;
    width: 50px;
}
  header form input{
    position: absolute;
    bottom: 3px;
    left: 318px;
  }
  header form button{
    bottom: 3px;
    left: 820px;
  }
  .menu li{
    margin-right: 23px;
    left: 150px;
    bottom: 35px;
  }

  /*FOOTER ESCRITORIO*/

  footer .redes ul li{
    margin-right: 60px;
  }
  footer .redes ul li:last-child{
    margin-right: 20px;
  }
}