@import "style.css";
/* MINI BARRA */
.barra{
    padding-left:11%;;
}

.barra{
    background-color: #222831;
    margin-top: 10px;
}
.barra li{
    color: black;
    display: inline-block;
    padding: 20px;
    padding-top: 7px;
    margin-top: 3px;
    height: 40px;
    margin-left: 65px;
    padding-right: 70px;
    text-transform: uppercase;
}
.principal .contenido{
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
} 
.contenido img{
    width: 210px;
    height: 210px;
}
p{
    color: black;
    font-size: 20px;
}
.btn:not(:disabled):not(.disabled){
    border: none;
    position: relative;
    top: 9px;
}

@media(min-width:768px){
    .barra li{
        margin-left:30px;
        
    }
    .main-nav .algo{
        background-color: black;
        height: 50%;
        width: 90%;
        text-align: center;
    }
    .main-nav li{
        display: block;
        padding: 10px;
        border-right: none;
    }
    .main-nav li:last-child{
        border: none;
    }
    
}

@media(min-width:1024px){
    .barra li{
        margin-left:150px;
    }
    .barra li:last-child{
        border-right: none;
        margin-left: 20px;
    }
}