@import "style.css";
/* MINI BARRA */


.barra{
    background-color: #222831;
    margin-top: 10px;
}
.barra li{
    color: black;
    display: inline-block;
    padding: 20px;
    padding-top: 10px;
    margin-top: 10px;
    height: 40px;
    margin-left: 61px;
    padding-right: 70px;
   
    text-transform: uppercase;
}
.barra li:last-child{
    border-right: none;
    margin-left: 75px;
}
/* PRODUCTOS */
.principal .contenido{
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
} 
.contenido img{
    width: 80%;
}
p{
    color: black;
    font-size: 20px;
}

/* --- AJUSTES TIENDA - VERSION PARA TABLET (768px) --- */

@media(min-width:768px){
    /* MINI BARRA */
    .main-nav .algo{
        background-color: black;
        height: 50%;
        width: 90%;
        text-align: center;
    }
    .main-nav li{
        display: block;
        padding: 10px;
        border-right: none;
        border-bottom: white 1px solid;
    }
    .main-nav li:last-child{
        border: none;
    }
    
}

@media(min-width:1024px){
    .barra li{
        margin-left:200px;
    }
    .barra li:last-child{
        border-right: none;
        margin-left: 50px;
    }
}