<!DOCTYPE html>
<html lang="es">

<!--ACA HEAD-->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %> </title>

  <link  rel="icon"   href="images/favicon.png" type="images/png" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"crossorigin="anonymous"/>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>

  <link rel="stylesheet" href="/stylesheets/cargaproducto.css"/>
</head>

<body>
    <!--ACA HEAD-->
<%- include('partials/header') %>
<div class="caja">
    <form action="cargaproducts.ejs" method="POST">
        <p> <label for="">Titulo = Marca + Modelo</label></p>
        <p><input type="text" id="titulo"></p>

        <p> <label for="">Marca</label></p>
        <p><input type="text" id="titulo"></p>

        <p><label for="">¿Es Dual Sim?</label></p>
        <p><input type="radio" name="Dual Sim" value="SI"> SI</p>
        <p><input type="radio" name="Dual Sim" value="NO"> NO</p>

        <p> <label for="">Modelo</label></p>
        <p><input type="text" id="titulo"></p>

        <p> <label for="">Memoria interna</label></p>
        <p><input type="text" id="titulo"></p>

        <p> <label for="">Memoria ram</label></p>
        <p><input type="text" id="titulo"></p>

        <p> <label for="">Colores</label></p>
        <p><input type="text" id="titulo"></p>

        <p> <label for="">Compañia telefonica</label></p>
        <p><input type="text" id="titulo"></p>

        <p> <label for="">Precio final</label></p>
        <p><input type="text" id="titulo"></p>

        <p> <label for="">IMAGEN</label></p>
        <p><input type="submit" value="imagen"></p>

        <p class="enviar"><input type="submit" value="LISTO"></p>
    </form>
  </div>
</body>