<%- include('partials/head') %> 
<%- include('partials/header') %>
<div class="col-12">
    
    <div class="form_main">
        <h4 class="heading"><strong>Formulario </strong> Carga <span></span></h4>
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleFormControlInput1">Titulo de la publicación</label>
                <input type="text" class="form-control" id="exampleFormControlInput1"
                    placeholder="" name="name">
            </div>
             <div class="col">
                    <label for="">Marca</label>
                    <input type="text" class="form-control" name="trademark">
                </div>
                <div class="col">
                    <label for="">Precio</label>
                    <input type="number" class="form-control" name="price">
                </div>
                <div class="col">
                    <label for="">Descuento</label>
                    <input type="number" class="form-control" name="discount">
                </div>
                <div class="col">
                    <label for="">Capacidad</label>
                    <input type="number" class="form-control" name="capacidad">
                </div>
                <div class="col">
                    <label for="">Dual-Sim</label>
                    <input type="text" class="form-control" name="dualsim">
                </div>
                <div class="col">
                    <label for="">Colores</label>
                    <input type="text" class="form-control" name="colors">
                </div>
                <div class="col">
                    <label for="">Company</label>
                    <input type="text" class="form-control" name="company">
                </div>
          
            <div class="form-group mt-3">
                <label for="">Elija una imagen</label>
                <input type="file" class="form-control" name='image'>
            </div>
            <div class="mt-5 mr-5 d-flex justify-content-end">
                <button type="submit" class="btn btn-outline-primary" id="agregar">Publicar</button>
            </div>
        </form>
    </div>

</div>