<!DOCTYPE html>
<html lang="es">

<!--ACA HEAD-->
<%- include('partials/head') %>

<body>
    <header class="container-fluid">
        
        <div class="container">
          
          <div class="row">
            <!--Logotipo-->
            <div class="col-5 col-md-2 col-lg-2 logo">
              <a href="/"
                ><img src="/images/logo.png" alt=" "
              /></a>
            </div>
    
            
    
            <!--finaliza el div.row-->
          </div>
         
        </div>
        <!--Fin del header-->
      </header>
    <form action="cargaproducts.ejs" method="POST">
        <p> <label for="">Titulo = Marca + Modelo</label></p>
        <p><input type="text" id="titulo"></p>

        <p> <label for="">Marca</label></p>
        <p><input type="text" id="titulo"></p>

        <p> <label for="">¿Es dual sim?</label></p>
        <p><input type="text" id="titulo"></p>

        <p> <label for="">Modelo</label></p>
        <p><input type="text" id="titulo"></p>

        <p> <label for="">Memoria interna</label></p>
        <p><input type="text" id="titulo"></p>

        <p> <label for="">Memoria ram</label></p>
        <p><input type="text" id="titulo"></p>

        <p> <label for="">Colores</label></p>
        <p><input type="text" id="titulo"></p>

        <p> <label for="">Compañia telefonica</label></p>
        <p><input type="text" id="titulo"></p>

        <p> <label for="">Precio final</label></p>
        <p><input type="text" id="titulo"></p>

        <p> <label for="">IMAGEN</label></p>
        <p><input type="submit" value="Imagen"></p>

        <p><input type="submit" value="LISTO"></p>
    </form>
</body>