<!DOCTYPE html>
<html lang="es">

<!--ACA HEAD-->
<%- include('partials/head') %>

<body> 
    <!--ACA HEAD-->
<%- include('partials/header') %>
<!--Comienzo del Formulario-->
<div class="container">
	<div class="row">
    <div class="col-12">
		<div class="form_main">
                <h4 class="heading"><strong>Formulario </strong> Carga <span></span></h4>
                <div class="form">
                <form action="" method="POST" enctype="multipart/form-data">
                  
                     <label for="">Nombre</label>
                    <input type="text" placeholder="Titulo = Modelo + Marca" name="name" class="form-control">
          
                     <label for="">Marca</label>
                    <input type="text"
                     placeholder="Marca" name="marca" class="form-control">
                    
                     <label for="">Modelo</label>
                    <input type="text"
                     placeholder="Modelo" name="model" class="form-control">

                     <label for="">Capacidad</label>
                    <input type="number"
                     placeholder="Memoria Ram" name="memory" class="form-control">

                     <label for="">Colores</label>
                    <input type="text" 
                    placeholder="Colores" value="" name="colors" class="form-control">

                    <label for="">Compania</label>
                    <input type="text" 
                    placeholder="Compania Telefonica" name="company" class="form-control">

                    <label for="">Precio</label>
                    <input type="number" 
                    placeholder="Precio" name="price" class="form-control">
                    
                    <label for="">Descuento</label>
                    <input type="number" 
                    placeholder="Descuento" name="discount" class="form-control">
                    

                    <label for="">¿Es dual sim?</label>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                      No
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                      Si
                    </label>
                  </div>
                  
                    <div class="form-group">
                      <label for="exampleFormControlFile1">Imagen del Producto</label>
                      <input type="file" class="form-control" name="image">
                    </div>

                  

                    <button type="submit" class="btn btn-primary">Submit</button>


                    
                  </form>
            </div>
            </div>
            </div>
  </div>
</div>
</body>
