<%- include('partials/head') %> 
<%- include('partials/header') %>
<div class="container-flud">
    <div class="container">
        <div class="form_main">
            <h4 class="heading"><strong>Formulario </strong> Carga <span></span></h4>
            <div class="form">
        <form action="/admin/create" method="POST" id="principal">
            <section class="form">
                <div class="grupo-form">
                    <h3><label for="">Nombre</label></h3>
                    <input type="text" name="name" placeholder="Nombre" >
                </div>
                <div class="grupo-form">
                    <h3><label for="">Marca</label></h3>
                    <input type="text" name="trademark" placeholder="Marca" required >
                </div>
                <div class="grupo-form">
                    <h3><label for="">Modelo</label></h3>
                    <input type="text"  name="model" placeholder="Modelo"  >
                </div>
                <div class="grupo-form">
                    <h3><label for="">Precio</label></h3>
                    <input type="number"  name="price" placeholder="Precio" required >
                </div>
                <div class="grupo-form">
                    <h3><label for="">Colores</label></h3>
                    <input type="text"  name="colors" placeholder="Color" >
                </div>
                <div class="grupo-form">
                    <h3><label for="">Descuento</label></h3>
                    <input type="number"  name="discount" placeholder="Descuento" >
                </div>
                <div class="grupo-form">
                    <h3><label for="">Compania</label></h3>
                    <input type="text"  name="company" placeholder="Compania" >
                </div>
                <div class="grupo-form">
                  <h3><label for="">Capacidad</label></h3>
                  <input type="number"  name="capacidad" placeholder="Capacidad" >
              </div>
                <div class="grupo-form">
                  <h3><label for="">Dual Sim</label></h3>
                  <input type="text"  name="dualsim" placeholder="Dual-Sim" >
              </div>
                <div class="grupo-form">
                    <h3><label for="">Agregar imagen</label></h3>
                    <input type="file" name="image">
                </div>
                <div>
                    <button type="submit" class="btn btn-outline-secondary mr-3" id="agregar">Agregar</button>
                </div>
            </section>
        </form>
        
    </div>
</div>