<!DOCTYPE html>
<html lang="es">

<!--ACA HEAD-->
<%- include('partials/head') %>

<body>
    <!--ACA HEADER-->
    <%- include('partials/header') %>
      
    <h1>chau</h1>

  <!--FOOTER-->
  <%- include('partials/footer') %>


</body>
</html>