<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/cart.css">
    <title>Carrito de compras</title>
</head>
<body>
    <header class="conteiner-fluid">
        <nav>
            <h3>Lorem ipsum dolor sit amet consectetur</h3>
        </nav>
    </header>

    <!--Comienzo del carrito-->
    <div class="conteiner-fluid">
        <main class="conteiner-fluid main">
            <section class="conteiner-fluid">
                <article class="borde-texto-carrito">
                    <p class="h3">Carrito (2)</p>
                    <p class="h3">Guardado (0)</p>
                </article>
            </section>
            <section class="conteiner-fluid">
                <article class="img">
                    <img src="images/a.jpg" alt="">
                    <p class="l">Lorem ipsum dolor</p>
                    <p class="pr">$9.99</p>
                </article>
                <article class="img">
                    <img src="images/a.jpg" alt="">
                    <p class="l">Lorem ipsum dolor</p>
                    <p class="pr">$9.99</p>
                </article>
                <article class="txt">
                    <p class="lorem" id="lp">Productos</p>
                    <p class="precio" id="lpk">$19.99</p>
                </article>
                <article class="txt">
                    <p class="lorem" id="lp">Envío</p>
                    <p class="precio" id="lpu">$9.99</p>
				</article>
				<section class="boton-txt">
                	<article class="txt" id="txt">
                    	<p class="lorem">Total</p>
                    	<p class="precio">$29.99</p>
                	</article>
				<!--Botón de Comprar-->
				<a class="ordenar" href="/">Ordenar</a>
				</section>
        		<!--Icono inferior derecho de " ? " 
        		<section class="row icono-whatsapp">
        		    <button class="w">?</button>
        		</section>-->
            </section>
        </main>
    </div>
</body>
</html>