<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

<body>
    <%- include('partials/header') %> 
    <div class="container d-flex justify-content-center mt-100">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center"> <img src="https://img.icons8.com/bubbles/100/000000/laptop.png">
                        <h4>Contáctenos</h4>
                        <p class="text"> Contáctanos con los siguientes detalles. </p>
            <div class="info">
                <div class="social-information"> <i class="fa fa-map-marker"></i>
                    <p>9 de Julio 1532,BSAS,ARG</p>
                </div>
                <div class="social-information"> <i class="fa fa-envelope-o"></i>
                    <p>contacto@cell.com</p>
                </div>
                <div class="social-information"> <i class="fa fa-mobile-phone"></i>
                    <p>+54 911 3392 6881 </p>
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %> 
</body>
</html>