<!DOCTYPE html>
<html lang="es">

<!--ACA HEAD-->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %> </title>

  <link  rel="icon"   href="images/favicon.png" type="images/png" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"crossorigin="anonymous"/>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>

  <link rel="stylesheet" href="/stylesheets/detalle.css"/>
</head>

<body>
    <!--ACA HEADER-->
    <%- include('partials/header') %>
      
    <html>
    <body>
        <div class="container">
        	<div class="row">
               <div class="col-xs-4 item-photo">
                    <img style="max-width:80%;" src="images/logos/iphone-11-pro2.png" />
                </div>
                <div class="col-xs-5" style="border:0px solid gray">
                    <!-- Datos del vendedor y titulo del producto -->
                    <h3>iPhone 11 Pro - Apple</h3>    
                    
        
                    <!-- Precios -->
                    <h6 class="title-price"><small>PRECIO FINAL</small></h6>
                    <h3 style="margin-top:0px;">$ 1000</h3>
        
                    <!-- Detalles especificos del producto -->
                    <div class="section">
                        <h6 class="title-attr" style="margin-top:15px;" ><small>COLOR</small></h6>                    
                        <div>
                            <div class="attr" style="width:25px;background:#5a5a5a;"></div>
                            <div class="attr" style="width:25px;background:white;"></div>
                        </div>
                    </div>
                    <div class="section" style="padding-bottom:5px;">
                        <h6 class="title-attr"><small>CAPACIDAD</small></h6>                    
                        <div>
                            <div class="attr2">64 GB</div>
                            <div class="attr2">256 GB</div>
                            <div class="attr2">512 GB</div>
                            
                        </div>
                    </div>   
                    <div class="section" style="padding-bottom:20px;">
                        <h6 class="title-attr"><small>CANTIDAD</small></h6>                    
                        <div>
                            <div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>
                            <input value="1" />
                            <div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>
                        </div>
                    </div>                
        
                    <!-- Botones de compra -->
                    <div class="section" style="padding-bottom:20px;">
                        <button class="btn btn-success"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Agregar al carro</button>
                        <h6><a href="#"><span class="glyphicon glyphicon-heart-empty" style="cursor:pointer;"></span> Agregar a lista de deseos</a></h6>
                    </div>                                        
                </div>                              
        
                <div class="col-xs-9">
                    <ul class="menu-items">
                        <li class="active">Detalle del producto</li>
                        <li>Garantía</li>
                        <li>Vendedor</li>
                        <li>Envío</li>
                    </ul>
                    <div style="width:100%;border-top:1px solid silver">
                        
                        <small>
                            <ul>
                                <li>Marca: Apple</li>
                                <li>¿Es Dual Sim?: No</li>
                                <li>Modelo: 11 pro</li>
                                <li>Memoria interna:64GB, 256GB y 512GB</li>
                                <li>Memoria Ram: 4GB</li>
                                <li>Colores:Gris y Blanco</li>
                                <li>Compaia telefonica: Libre</li>
                                
                            </ul>  
                        </small>
                    </div>
                </div>		
            </div>
        </div>        
    </body>
</html>
<script src="detailProductos2.js"></script>
  <!--FOOTER-->
  <%- include('partials/footer') %>


</body>
</html>