<!DOCTYPE html>
<html lang="es">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <%- include('partials/head') %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <%- include('partials/header') %> 
      <div class="bg-light">
        <div class="container py-5">
          <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
              <h1 class="display-4">Sobre nosotros</h1>
              <p class="lead text-muted mb-0">¡Hola! , Cell se dedica a la venta de Smartphone's.</p>
              <p class="lead text-muted">Fragmento de <a href="/" class="text-muted"> 
                          <u>Cell</u></a>
              </p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt="" class="img-fluid"></div>
          </div>
        </div>
      </div>
      
      <div class="bg-white py-5">
        <div class="container py-5">
          <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
              <h2 class="font-weight-light">Nuestro objetivo</h2>
              <p class="font-italic text-muted mb-4">Brindar un servicio simple hacia los consumidores, para que puedan encontrar su celular indicado.</p>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
          </div>
          <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
              <h2 class="font-weight-light">Compromiso</h2>
              <p class="font-italic text-muted mb-4">Tu mejor lugar para encontrar tu mejor smartphone 💙📱_</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="bg-light py-5">
        <div class="container py-5">
          <div class="row mb-4">
            <div class="col-lg-5">
              <h2 class="display-4 font-weight-light">Nuestro equipo</h2>
              <p class="font-italic text-muted">Esta es nuestra participación como el Equipo 16 en el programa Formar, de Digital House.</p>
            </div>
          </div>
      
          <div class="row text-center">
            
            <!-- EQUIPO-->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-1_s02nlg.png" alt="Nelson Barrios" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Nelson Natanael Barrios</h5><span class="small text-uppercase text-muted">Desarrollador - Fundador</span>
                <ul class="social mb-0 list-inline mt-3">
                  <li class="list-inline-item"><a href="www.facebook.com/nelsonbarrios97" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                  <li class="list-inline-item"><a href="www.twiter.com/nelsonbarrios97" class="social-link"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="www.instagram.com/nelsonnatanael" class="social-link"><i class="fa fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a href="www.linkedin/in/nelson-barrios" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- fin-->
      
            <!-- EQUIPO-->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-2_f8dowd.png" alt="Santiago Ojeda" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Santiago Emanuel Ojeda</h5><span class="small text-uppercase text-muted">Desarrollador - Fundador</span>
                <ul class="social mb-0 list-inline mt-3">
                  <li class="list-inline-item"><a href="https://www.facebook.com/santiago.ojeda.9235/" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                  <li class="list-inline-item"><a href="https://twitter.com/santy_emanuel09" class="social-link"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="https://www.instagram.com/santi.ojeda9/" class="social-link"><i class="fa fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a href="https://www.linkedin.com/in/santiago-ojeda-287542200/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- fin-->
      
            <!-- EQUIPO-->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png" alt="Junior Lizazu" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Juan Junior Lizazu</h5><span class="small text-uppercase text-muted">Desarrollador - Fundador</span>
                <ul class="social mb-0 list-inline mt-3">
                  <li class="list-inline-item"><a href="www.facebook.com/junior-lizazu" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                  <li class="list-inline-item"><a href="www.twiter.com/junior-lizazu" class="social-link"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="www.instagram.com/junior-lizazu" class="social-link"><i class="fa fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a href="www.linkedin/in/junior-lizazu" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- fin-->
      
          </div>
        </div>
      </div>
      
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <%- include('partials/footer') %> 
    
</body>
</html>