<!DOCTYPE html>
<html lang="es">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Ahora, tu clave</title>
    <!--ACA HEAD-->
<%- include('partials/head') %>
<body>
   <!--ACA HEAD-->
   <%- include('partials/header') %>

   <div class="login-form">
    <form action="/examples/actions/confirmation.php" method="post">
        <h2 class="text-center">Ahora, tu clave</h2>   
        <div class="form-group has-error">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Clave" required="required">
        </div>        
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block"><a class="hj" href="/cart">Continuar</a></button>
        </div>
        <p><a href="/register/entercode">No sé mi clave</a></p>
    </form>
    <p class="text-center small"><a href="#"></a></a></p>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!--ACA HEAD-->
    <%- include('partials/footer') %>
</body>
</html>