<!DOCTYPE html>
<html lang="es">
<!--ACA HEAD-->
<%- include('partials/head') %>
<body>
   <!--ACA HEADER-->
   <%- include('partials/header') %>
    <section class="form">
        <h1>Ingresá el codigo que te enviamos por e-mail</h1>
        <form action="" method="post">
            <div class="grupo-form">
                <p id="a">Te enviamos un codigo a tu e-amil para que puedas ingresar a tu cuenta.</p>
                <p id="b">tu-email@gmail.com</p>
                <input type="text" name="" id="">
            </div>

            <a class="a" href="/">Verificar el código</a>
            <p class="b">Protegido por reCAPTCHA - <a class="c" href="">Privacidad</a> - <a class="c" href="">condiciones</a></p>
        </form>
    </section>
    <!--FOOTER-->
    <%- include('partials/footer') %>
</body>
</html>