<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/enterCode.css">
    <title>Ingresá el codigo que te enviamos por e-mail</title>
</head>
<body>
    <header class="conteiner-fluid">
        <nav>
            <h3>Lorem ipsum dolor sit amet consectetur</h3>
        </nav>
    </header>

    <section class="form">
        <h1>Ingresá el codigo que te enviamos por e-mail</h1>
        <form action="" method="post">
            <div class="grupo-form">
                <p id="a">Te enviamos un codigo a tu e-amil para que puedas ingresar a tu cuenta.</p>
                <p id="b">tu-email@gmail.com</p>
                <input type="text" name="" id="">
            </div>

            <a class="a" href="/">Verificar el código</a>
            <p class="b">Protegido por reCAPTCHA - <a class="c" href="">Privacidad</a> - <a class="c" href="">condiciones</a></p>
        </form>
    </section>
</body>
</html>