<!DOCTYPE html>
<html lang="es">
<!--ACA HEAD-->
<%- include('partials/head') %>
<body>
   <!--ACA HEADER-->
   <%- include('partials/header') %>
    <section class="form">
        <h1>Ahora, tu clave</h1>
        <form action="" method="post">
            <div class="grupo-form">
                <input type="password" name="" id="" placeholder="Clave" required>
            </div>

            <a class="a" href="../cart/cart.html">Ingresar</a>
            <a class="d" href="../cart/social.html">No sé mi clave</a>
            <p class="b">Protegido por reCAPTCHA - <a class="c" href="">Privacidad</a> - <a class="c" href="">condiciones</a></p>
        </form>
    </section>
    <!--FOOTER-->
    <%- include('partials/footer') %>
</body>
</html>