<!DOCTYPE html>
<html lang="es">
<!-- partial del head -->
<%- include('./partials/head.ejs') %>

<body>

    <!-- partial del header -->
    <%- include('./partials/header.ejs') %>

    <!-- Cuerpo del home -->
    <main class="container-fluid px-0">

        <div class="bienvenidx row mx-0 py-2 mainCard">
          <h3 class="col-9 mb-0">Lo sentimos!</h3>
          <p>Tenés que iniciar sesión para acceder a este sitio</p>
          <div class="enlace"><a href="/users/login">Iniciar sesión</a></div>
        </div>
        
        

        

    </main>

    <!-- partial del footer -->
    <%- include('./partials/footer.ejs') %>


</body>

</html>