<!DOCTYPE html>
  <html lang="es">
    
    <!--ACA HEAD-->
    <%- include('partials/head') %>
    <body>
     
      <!--ACA HEADER-->
      <%- include('partials/header') %>
      <!--Imagen-->
    <main>
      <h1>hola</h1>
    </main>

    <!--FOOTER-->
    <%- include('partials/footer') %>
  </body>
</html>