<!DOCTYPE html>
<html lang="es">
<!--ACA HEAD-->
<%- include('partials/head') %>
<body>
   <!--ACA HEAD-->
   <%- include('partials/header') %>

    <section class="form">
        <h1>Ingresá tu e-mail o usuario</h1>
        <form action="" method="post">
            <div class="grupo-form">
                <input type="text" name="" id="" placeholder="Email o usuario" required>
            </div>

            <a class="a" href="">Continuar</a>
            <a class="d" href="/register.ejs">Crear Cuenta</a>
            <p class="b">Protegido por reCAPTCHA - <a class="c" href="">Privacidad</a> - <a class="c" href="">condiciones</a></p>
        </form>
    </section>

    <!--ACA HEAD-->
    <%- include('partials/footer') %>
</body>
</html>