<!DOCTYPE html>
<html lang="es">
    <!--ACA HEAD-->
<%- include('partials/head') %>
<body>
   <!--ACA HEAD-->
   <%- include('partials/header') %>

   <div class="login-form">
    <form action="/examples/actions/confirmation.php" method="post">
        <h2 class="text-center">¡Hola! Para seguir, ingresá tu e-mail o usuario</h2>   
        <div class="form-group has-error">
        	<input type="text" class="form-control" name="username" placeholder="E-mail o usuario" required="required">
        </div>
		<div class="form-group">
        </div>        
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block"><a class="hj" href="login/enterPass">Continuar</a></button>
        </div>
        <p><a href="/register/registercart">Crear cuenta</a></p>
    </form>
    <p class="text-center small"><a href="#"></a></a></p>
</div>

    <!--ACA HEAD-->
    <%- include('partials/footer') %>
</body>
</html>