<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>¡Hola! Para agregar al carrito, Ingresá a tu cuenta</title>
    <link rel="stylesheet" href="/stylesheets/notRegister.css">
  </head>
<body>
    <!--Página-->
    <section class="seccion">
        <h3>¡Hola! Para agregar al carrito, Ingresá a tu cuenta</h3>
        <!--Botón de registrarme-->
                <a class="registrarme" href="../cart/register-cart.html">Registrarme</a>
        <!--Botón de ya tengo cuenta-->
				<a class="yatengocuenta" href="../cart/login.html">Ya tengo cuenta</a>
    </section>
</body>
</html>