<!DOCTYPE html>
<html lang="es">
<!--ACA HEAD-->
<%- include('partials/head') %>
<body>
   <!--ACA HEAD-->
   <%- include('partials/header') %>

    <!--Página-->
    <section class="seccion">
        <h3>¡Hola! Para agregar al carrito, Ingresá a tu cuenta</h3>
        <!--Botón de registrarme-->
                <a class="registrarme" href="/users">Registrarme</a>
        <!--Botón de ya tengo cuenta-->
				<a class="yatengocuenta" href="/users/login">Ya tengo cuenta</a>
    </section>
    <!--FOOTER-->
    <%- include('partials/footer') %>
</body>
</html>