<!DOCTYPE html>
<html lang="en">
<!--ACA HEAD-->
    <%- include('partials/head') %>
<body>
     <!--ACA HEADER-->
     <%- include('partials/header') %>

    <section class="form">
        <h1>Registrate para agregar al carrito</h1>
        <form action="" method="post">
            <div class="grupo-form">
                <label for="">Nombre</label>
                <input type="text" name="" id="" placeholder="Nombre" required>
            </div>

            <div class="grupo-form">
                <label for="">Apellido</label>
                <input type="text" name="" id="" placeholder="Apellido" required>
            </div>

            <div class="grupoform2">
                <p class="p">Elegí una provincia</p>
                <select name="" id="">
                    <option value="">Buenos Aires</option>
                    <option value="">Capital Federal</option>
                    <option value="">Catamarca</option>
                    <option value="">Chaco</option>
                    <option value="">Chubut</option>
                    <option value="">Corrientes</option>
                    <option value="">Córdoba</option>
                    <option value="">Entre Ríos</option>
                    <option value="">Formosa</option>
                    <option value="">Jujuy</option>
                    <option value="">La Pampa</option>
                    <option value="">La Rioja</option>
                    <option value="">Mendoza</option>
                    <option value="">Misiones</option>
                    <option value="">Neuquén</option>
                    <option value="">Rio Negro</option>
                    <option value="">Salta</option>
                    <option value="">San Juan</option>
                    <option value="">San Luis</option>
                    <option value="">Santa Fe</option>
                    <option value="">Santiago del Estero</option>
                    <option value="">Tierra del Fuego</option>
                    <option value="">Tucumán</option>
                </select>
                </div>
            <div class="grupo-form">
                <label for="">E-mail</label>
                <input type="email" name="" id="" placeholder="E-mail" required>
            </div>

            <div class="grupo-form">
                <label for="">Clave</label>
                <input type="password" name="" id="" placeholder="Clave" required>
            </div>
            <a class="a" href="../cart/cart.html">Registrarme y agregar</a>
            <p class="b">Al registrarme, declaro que soy mayor de edad y acepto los <a href="" class="c">Términos y condiciones</a> y las <a class="c" href="">Politicas de Privacidad</a> de CELL.</p>
            <p class="b">Protegido por reCAPTCHA - <a class="c" href="">Privacidad</a> - <a class="c" href="">condiciones</a></p>
        </form>
    </section>
    <!--FOOTER-->
    <%- include('partials/footer') %>
</body>
</html>