<!DOCTYPE html>
<html lang="es">
<<<<<<< HEAD
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
        <title>Registrate en Cell</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
=======
    
>>>>>>> 67ccd5a3c5644cb59f2b6787c74f65b32763e6d9
    <%- include('partials/head') %>
   
<body>
     <!--ACA HEADER-->
     <%- include('partials/header') %>
        <div class="signup-form">
            <form action="/examples/actions/confirmation.php" method="post">
                <h2>Completá tus datos</h2>
                <p class="hint-text"></p>
                <div class="form-group">
                    <div class="row">
                        <div class="col"><input type="text" class="form-control" name="first_name" placeholder="Nombre" required="required"></div>
                        <div class="col"><input type="text" class="form-control" name="last_name" placeholder="Apellido" required="required"></div>
                    </div>        	
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="E-mail" placeholder="Email" required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="Clave" placeholder="Clave" required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="Confirmar Clave" placeholder="Confirmar Clave" required="required">
                </div>        
                <div class="form-group">
<<<<<<< HEAD
                    <label class="form-check-label"><input type="checkbox" required="required"> Acepto los <a href="#">Terminos y Condiciones</a> &amp; <a href="#">Privacidad</a></label>
=======
                    <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="">Terms of Use</a> &amp; <a href="">Privacy Policy</a></label>
>>>>>>> 67ccd5a3c5644cb59f2b6787c74f65b32763e6d9
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg btn-block"><a class="hj" href="/">Registrarme</a></button>
                </div>
            </form>
<<<<<<< HEAD
=======
            <div class="text-center">Already have an account? <a href="">Sign in</a></div>
>>>>>>> 67ccd5a3c5644cb59f2b6787c74f65b32763e6d9
        </div>
    <!--FOOTER-->
    <%- include('partials/footer') %>
</body>
</html>