<!DOCTYPE html>
<html lang="es">
<!--ACA HEAD-->
<%- include('partials/head') %>
<body>
   <!--ACA HEADER-->
   <%- include('partials/header') %>
   <section class="login-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form class="md-float-material form-material" action="#" method="POST">
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-center heading">Ingres치 el c칩digo que te enviamos por e-mail</h3>
                                </div>
                            </div>
                            <div class="or-container">
                                <div class="line-separator"></div>
                                <div class="or-label">Te enviamos un c칩digo a tu e-mail para que puedas ingresar a tu cuenta.</div>
                                <div class="line-separator"></div>
                            </div><br>
                            <div class="form-group has-error">
                                <input type="text" class="form-control" name="username" placeholder="" required="required">
                            </div><br>
                            <div class="row">
                                <div class="col-md-12"> <a class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20 hj" href="/">Verificar el c칩digo</a> <!-- <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i class="fa fa-lock"></i> Signup Now </button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
    <!--FOOTER-->
    <%- include('partials/footer') %>
</body>
</html>