<footer class="conteiner-fluid">
    <div class="col-12">
      <ul class="info">
        <li><a href="/contacto">CONTACTO</a></li>
        <li><a href="/locales">LOCALES</a></li>
        <li><a href="/empresa">EMPRESA</a></li>
      </ul>
    <article class="redes">
      <ul>
        <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
        
      </ul>
    </article>
    </div>
    </div>
  </div>
  
</div>
<div class="derechos">
  <p class="copyright">Copyright © 2019-2020 CELL S.R.L.</p>
</div>
</footer>

<!--scripts de bootstrap-->

<script
src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
crossorigin="anonymous "></script>
<script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "
integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI "
crossorigin="anonymous "></script>