<header class="container-fluid">
        
  <div class="container">
    
    <div class="row">
      <!--Logotipo-->
      <div class="col-5 col-md-2 col-lg-2 logo">
        <a href="/"
          ><img src="/images/logo.png" alt="logo"
        /></a>
      </div>

      <!--Buscador-->
      <div class="col-7 col-md-6 col-lg-6">
        <form action="/search" method="GET">
          <input
            type="text"
            name="search"
            placeholder="Buscar"
          />
          <button type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>

      <!--finaliza el div.row-->
    </div>
    <!--Links de registro, contacto, etc-->
    <nav class="navbar-expand-md">
      <!--Boton para que desplegar el menu si es Celular-->
      <button
        class="navbar-toggler desplegable"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!--barra de menu que aparece a partir de tablet-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="menu navbar-nav ">
          <% if (typeof user != 'undefined') { %>
            <li>
              <a href="/contacto">Contacto</a>
            </li>
            <li>
              <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle menu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="/images/users/<%= locals.user.avatar %>" alt="avatar" class="avatar">
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/users/profile/<%= user.id %> ">Mi cuenta</a>
                <a class="dropdown-item" href="/users/logout" style="color: red;">Salir</a>
              </div>
            </li>
                <% if (user.rol == 'admin') { %>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle menu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Administra
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/products/admin ">Editar Productos</a>
                      <a class="dropdown-item" href="/products/create">Subir Productos</a>
                    </div>
                  </li>
                <% } %>
            <% } else {%>
              <li>
                <a href="contacto">Contacto</a>
              </li>
              <li>
                <a href="/users/register">Creá tu Cuenta</a>
              </li> 
              <li>
                <a href="/users/login">Ingresá</a>
              </li>
            <% } %>
        </ul>
        
      </div>
      <!--finaliza barra de menu-->
    </nav>
  </div>
  <!--Fin del header-->
</header>



